<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Farm2Fork Tool</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="static/main.css">

</head>

<body>

    <h1>Farm2Fork Spinach Processing Tool    <img src="static/fork.jpg" width="50px" height="auto" alt="logo"/></h1>

    <form>
        <input type="button" value="Scan Images" onclick="location.href='/home';">
    </form>

    <!--<div style="width: 100%;">-->
        <!--<div style="float:left; width: 50%">-->
            <!--<h1>Generate Report</h1>-->
            <!--<form>-->
                <!--<input type="button" value="Download Report" onclick="location.href='/getPlotCSV';">-->
            <!--</form>-->
        <!--</div>-->

        <!--<div style="float:right; width: 30%">-->
            <!--<h1>Recall Notification</h1>-->
            <!--<form>-->
                <!--<input type="button" style="background-color:red" value="Recall Event" onclick="location.href='/send_recall_notification';">-->
            <!--</form>-->
        <!--</div>-->

    </div>

    <div style="clear:both"></div>



</body>

</html>